@* Views/Stats/Index.cshtml *@

@model IEnumerable<StatsViewModel>

@{
    ViewData["Title"] = "Statystyki aktywności";
}

<h1>Statystyki aktywności (ostatnie 4 tygodnie)</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionsLast4Weeks)
            </th>
            <th>
                Łączny dystans / liczba powtórzeń
            </th>
            <th>
                Łączny czas trwania
            </th>
            <th>
                Maksymalny dystans/obciążenie
            </th>
            <th>
                Średni dystans/obciążenie
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionsLast4Weeks)
            </td>
            <td>
                @if (item.ActivityName.Contains("Dystans"))
                {
                    @item.TotalCalculatedReps.ToString("N0") @:m
                }
                else
                {
                    @item.TotalCalculatedReps.ToString("N0")
                }
            </td>
            <td>
                @if (item.TotalTime.TotalSeconds > 0)
                {
                    @item.TotalTime.ToString(@"hh\:mm\:ss")
                }
                else
                {
                    @:N/A
                }
            </td>
            <td>
                @if (item.MaxLoad > 0)
                {
                    if (item.ActivityName.Contains("Wyciskanie"))
                        {
                        @Html.DisplayFor(modelItem => item.MaxLoad) @:kg
        }
                    else 
        {
                       @Html.DisplayFor(modelItem => item.MaxLoad) @:m
        }
                }
                else
                {
                    @:N/A
                }
            </td>
            <td>
                @if (item.AverageLoad > 0)
                {
                    if (item.ActivityName.Contains("Wyciskanie"))
        {
            @Html.DisplayFor(modelItem => item.AverageLoad) @:kg
        }
        else 
        {
            @Html.DisplayFor(modelItem => item.AverageLoad) @:m
        }
                }
                else
                {
                    @:N/A
                }
            </td>
        </tr>
}
    </tbody>
</table>